
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmTask</title>
</head>
<body>
    <h1 class="text-center text-success">@ViewBag.Message</h1>
    <a asp-area="Home" asp-controller="Home" asp-action="Index" class="btn btn-info">Go to Home Page</a>
</body>
</html>
