@model TaskRecorder.Areas.Home.Models.ResetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
    <div class="container">
        <h1>@ViewBag.Message</h1>
        <h2>Reset Password</h2>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="ResetPassword" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Email" type="hidden" value="@ViewBag.Email" />
                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmNewpassword"></label>
                        <input asp-for="ConfirmNewpassword" class="form-control" />
                        <span asp-validation-for="ConfirmNewpassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Reset</button>
                </form>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <h3>Click Here to go to Home Index</h3>
        <br />
        <a href="@Url.Action("Index","Home" , new { area="Home"})">Forgot Password</a>
    </div>
</body>
</html>
